$fonte: 'arial';
$corFonte: #505050;
$background: #6dbbff;

$cor-0: #d9534f;
$cor-1: #ffbf01;
$cor-2: #5bc0de;
$cor-3: #5cb85c;
$cor-4: #428bca;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-family: $fonte;
	color: $corFonte;
	
	background: #2193b0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
	margin: 0 auto;
	background-color: white;
	border-radius: 6px;
	
	-webkit-box-shadow: 0px 0px 22px 0px rgba(10, 10, 10, 0.5);
	-moz-box-shadow:    0px 0px 22px 0px rgba(10, 10, 10, 0.5);
	box-shadow:         0px 0px 22px 0px rgba(10, 10, 10, 0.5);
}

#info {
	display: inline-block;
	vertical-align: top;
}

#matriz {
	width: auto;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}

#pontuacaoBox, #matriz {
 	margin: 10px;
  	border: solid 5px $background;
    border-radius: 3px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(10, 10, 10, 0.3);
	-moz-box-shadow:    0px 0px 8px 0px rgba(10, 10, 10, 0.3);
	box-shadow:         0px 0px 8px 0px rgba(10, 10, 10, 0.3);
}

#proximasPecasBox {
	min-height: 170px;

	.bloco {
		width: 15px;
		&.ativo {
			background-color: $background;
		}
	}
	.linha, .bloco {
		height: 15px;
	}
}

.bloco {
	color: $corFonte;
	background-color: white;
	width: 30px;
	height: 30px;
	display: inline-block;
	/*margin-left: 1px;*/
	/*margin-right: 1px;*/
	/*margin-top: 1px;*/

    vertical-align: top;
    line-height: 25px;
    font-size: 15px;
}

.bloco.ativo {
	background-color: black;
}

/*http://www.color-hex.com/*/
/*colour hunt*/

.ativo.cor-0 {
	background-color: $cor-0;
}
.ativo.cor-1 {
	background-color: $cor-1;
}
.ativo.cor-2 {
	background-color: $cor-2;
}
.ativo.cor-3 {
	background-color: $cor-3;
}
.ativo.cor-4 {
	background-color: $cor-4;
}

/* Info */

#info .box {
	padding: 10px 10px;
}

#info .box .titulo {
	font-weight: bold;
	margin-bottom: 5px;
}

#particles-js {
	flex: 1;
	position: absolute;
	width: 100%;
	height: 90%;
	z-index: -1;
}

/* ------- Joystick ---------------- */

#joystick {
	display: flex;
	border-top: solid 3px black;
}

#direcional {
	flex: 1;

	a {
		background-color: black;
		width: 25px;
		height: 25px;
		display: block;
		margin: 0 auto;
		border-radius: 50%;
	}

	table {
	    flex: 1;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100px;
	}

}

#botoes {	
	flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

	#action {
		background-color: black;
		width: 50px;
		height: 50px;
		display: block;
		border-radius: 50%;
	}
}