body {
	text-align: center;
	background-color: #A7FFEB;
}
#matriz {
	width: auto;
	height: auto;
	display: inline-block;
	border: solid 10px #004D40;
	margin: 0 auto;
	background-color: white;
	border-radius: 3px;
}

.bloco {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 0;
}

.bloco.ativo {
	background-color: #2196F3;

	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    2px 2px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.linha {
	height: 15px;
}


