body {
	text-align: center;
	font-size: 6px;
	font-family: arial;
}
#matriz {
	width: auto;
	height: auto;
	display: inline-block;
	border: solid 1px black;
	margin: 0 auto;
}

.bloco {
	color: white;
	background-color: black;
	width: 30px;
	height: 30px;
	display: inline-block;
/*	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;*/

    vertical-align: top;
    line-height: 25px;
    font-size: 15px;
}

.bloco.ativo {
	background-color: black;
}

/*http://www.color-hex.com/*/
/*colour hunt*/

.ativo.cor-0 {
	background-color: #d9534f;
}
.ativo.cor-1 {
	/*background-color: #f9f9f9;*/
	background-color: gray;
}
.ativo.cor-2 {
	background-color: #5bc0de;
}
.ativo.cor-3 {
	background-color: #5cb85c;
}
.ativo.cor-4 {
	background-color: #428bca;
}