body {
	text-align: center;
	font-size: 6px;
	font-family: arial;
}
#matriz {
	width: auto;
	height: auto;
	display: inline-block;
	border: solid 1px black;
	margin: 0 auto;
}

.bloco {
	background-color: #f9f9f9;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;

    vertical-align: top;
    line-height: 25px;
    font-size: 15px;
}

.bloco.ativo {
	background-color: black;
}