body {
	text-align: center;
	font-size: 6px;
}
#matriz {
	width: auto;
	height: auto;
	display: inline-block;
	border: solid 1px black;
	margin: 0 auto;
}

.bloco {
	background-color: #ccc;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
}

.bloco.ativo {
	background-color: black;
}